<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vehicle Management System</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1 style="margin: 50px 550px;">Vehicle Management System</h1>
  <form id="vehicleForm">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br><br>
    
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br><br>
    
    <label for="phoneNumber">Phone Number:</label>
    <input type="text" id="phoneNumber" name="phoneNumber" required><br><br>
    
    <label for="address">Address:</label>
    <input type="text" id="address" name="address" required><br><br>
    
    <label for="vehicleBrand">Vehicle Brand:</label>
    <input type="text" id="vehicleBrand" name="vehicleBrand" required><br><br>
    
    <label for="chassisNumber">Chassis Number:</label>
    <input type="text" id="chassisNumber" name="chassisNumber" required><br><br>
    
    <button type="submit">Submit</button>
  </form>
  <h2>Vehicle Details</h2>
    <button id="viewVehicles">View All Vehicles</button>
    <ul id="vehicleList"></ul>

  <script src="/js/main.js"></script>
</body>
</html>
